/* All of the body and all encompassing css goes here */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
}
#main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#tabs {
  display: flex;
  flex-flow: row;
}
#tabContainer {
}
.content {
  display: none;
}
.content.active {
  display: initial;
}
/* STORY css */
#storyButton {
}
.content#storyBody {
  /* width: 65%; */
}
#storyImg {
}

/* MENU css */
/* flex display?
  col => col(full width) */
#menuButton {
}
#menuTitle {
}
.menuSubtitle {
}
.menuSubtitle div {
  margin: 2.5% 0;
}
.content#menuBody {
  /* width: 65%; */
}
#menuFlex {
  display: flex;
  flex-direction: column;
}
.itemLine {
  display: inline-flex;
  width: 100%;
  align-items: baseline;
}
.itemName {
}
.vertBreak {
  flex-grow: 1;
  border-bottom: 2px dotted #000;
  margin: 0% 1%;
}
.itemPrice {
}
.descLine {
}

#apps {
}
#entrees {
}
#desserts {
}

/* RESERVATION css */
#rezButton {
}
.content#rezBody {
  /* width: 65%; */
}
#name {
}
#numGuests {
}
#date {
}
#notes {
}
#seating {
}
/* FOOD photos sidebar */
#aside {
  display: flex;
  flex-flow: column;
  margin: 0% 5%;
  /* align-items: flex-end; */
}
#foodImgTitle {
}
.foodImg {
  object-fit: contain;
  width: 125px;
  margin: 5% 0%;
}
